body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.chat-item a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.chat-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-details {
    flex-grow: 1;
}

.chat-recipient {
    font-weight: bold;
}

.chat-last-message {
    color: #777;
}

.chat-timestamp {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

/* Efeitos de hover */
.chat-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

.back-home-index {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-home-index:hover {
    background-color: #45a049;
}
