<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Opções</title>
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/criarquestao_styles.css' %}">

</head>
<body>
    <form method="post" action="{% url 'votacao:criaropcao' questao_id=questao.id %}">
        {% csrf_token %}
        <label for="nova_opcao">Texto da nova Opção:</label><br>
        <input type="text" id="nova_opcao" name="nova_opcao"><br>
        <input type="submit" value="Gravar nova Opção">
    </form>
</body>
</html>