<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Questões</title>
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/index_styles.css' %}">
</head>
<body>
    <h1>Lista de Questões</h1>
    <div class="container">
        {% if latest_question_list %}
        <ul>
            {% for questao in latest_question_list %}
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">
                    {{ questao.questao_texto }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há questões disponíveis.</p>
        {% endif %}
        <br>
        <br>
        <a href="{% url 'votacao:criarquestao' %}" class="vote-button">Criar Nova Questão</a>
    </div>
</body>
</html>
