{% extends 'subreddit/index.html' %}
{% load static %}
{% block page-title %} {Criar Subreddit} {% endblock %}

{% block content %}
    <div class="container-criar">
        <div class="create-subreddit-container-criar">
            <div class="create-subreddit-header-criar">
                <h2>Criar um novo subreddit</h2>
            </div>
            <div class="create-subreddit-form-criar">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group-criar">
                        <input type="text" name="name" id="name" placeholder="Título" required value="/r/{{name}}">
                    </div>
                    <div class="form-group-criar">
                        <label for="category">Categoria:</label>
                        <select name="category">
                            <option value="">-- Selecione uma categoria --</option>
                            {% for category_id, category_name in interest_categories %}
                                <option value="{{ category_id }}">{{ category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group-criar">
                        <textarea name="description" id="description" rows="6" placeholder="Descrição" required></textarea>
                    </div>
                    <div class="form-group-criar">
                        <button type="submit" class="btn-criar-subreddit">Criar Subreddit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

